
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@500&family=Ysabeau:ital,wght@1,300&display=swap');
:root {
    --primary-color:#e879f9;
  }

body{
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 1.3rem;
}

.nav{
    background-color: var(--primary-color);
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.nav-list ul{
    list-style-type: none;
}

.nav-list ul li {
    display: inline;
    padding: 0rem 2rem;
}

hero{
    font-weight: 800;
    padding: 1rem 0rem 0rem 1rem;
    font-size: 1.7rem;
}